/* App Window */
@define-color bg_color #1a1b26;
@define-color window_bg @bg_color;
@define-color window_border_color #5677fc;
@define-color prefs_background #292e42;

/* Input */
@define-color selected_bg_color #5677fc;
@define-color selected_fg_color #1abc9c;
@define-color input_color #c7dbff;
@define-color caret_color darker(@input_color);

/* Result items */
@define-color item_name #c7dbff;
@define-color item_text #828cb6;
@define-color item_box_selected #292e42;
@define-color item_text_selected #c7dbff;
@define-color item_name_selected #f8f8f8;
@define-color item_shortcut_color #565f89;
@define-color item_shortcut_shadow darker(@bg_color); 
@define-color item_shortcut_color_sel #78aeed;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: @window_bg;
    border-radius: 8px;
    border: 2px solid @window_border_color;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.50);
}

.input {
    caret-color: @caret_color;
    font-weight: 400;
    color: @input_color;
    border: 2px solid transparent;
    border-radius: 4px;
}

/* Selected text in input */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
    font-weight: normal;
}

.item-name {
    color: @item_name;
    font-weight: 400;
}

.item-box {
    background-color: @bg_color;
    margin: 0;
    padding: 0;
}

.selected.item-box {
    background-color: @item_box_selected;
    border: none;
}

.selected.item-box .item-text {
    color: @item_text_selected;
}

.selected.item-box .item-name {
    color: @item_name_selected;
}

.item-shortcut {
    color: @item_shortcut_color;
}

.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
}

.prefs-btn {
    opacity: 0.8;
    padding: 13px;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.prefs-btn * {
    box-shadow: none;
}

.prefs-btn:hover {
    background-color: @prefs_background;
    padding: 13px;
    transition: background-color 0.5s;
}

.no-window-shadow {
    margin: -20px;
}

